@import 'variables';
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.bg-gradient-custom {
  //background-image: linear-gradient(to right, #ff7e5f, #feb47b);
  //background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  background: rgb(120, 95, 106);
  background: radial-gradient(circle, rgba(120, 95, 106, 1) 0%, rgba(188, 188, 218, 1) 58%, rgba(119, 163, 189, 0.9948179955575981) 100%);
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}